<div class="row" id="meh2">
    <div class="col-6 mt-3">
      <p class="fw-bold fs-5">Reccomended(4)</p>
    </div>
    <div class="col-6 mt-3">
      <a (click)="onclick()"><i class="{{angleup}}" style="margin-left: 350px;"></i></a>
    </div>
    </div>
<ng-container *ngIf="visible">
<div class="row" id="meh3">
  <div class="col-10">
    <div class="d-flex">
    <span class="fa-stack" style="vertical-align: top;">
      <i class="fa-regular fa-square fa-stack-1x fa-lg" style="color: green"></i>
      <i class="fa-solid fa-circle fa-stack-1x fa-2xs" style="color: green"></i>
    </span>
    <i class="fa-solid fa-star mt-2" style="color: orange;"></i>
      <p class="mt-1 ms-1" id="bestseller">BestSeller</p> 
    </div>
  <h6 class="fw-semibold ms-2">Veg Biryani Single</h6>
  <h6 class="ms-2">₹105</h6>
</div>
<div class="col-2">
  <div class="d-flex">
  <img src="../assets/VBiryaniSingle.jpg" id="mbiryanis">
  <button type="button" class="btn btn-light" id="add">ADD +</button>
  </div>
</div>
</div>
<div class="row" id="meh4">
  <hr id="u3">
</div>
<div class="row" id="meh5">
  <div class="col-10">
    <div class="d-flex">
    <span class="fa-stack" style="vertical-align: top;">
      <i class="fa-regular fa-square fa-stack-1x fa-lg" style="color: green"></i>
      <i class="fa-solid fa-circle fa-stack-1x fa-2xs" style="color: green"></i>
    </span>
    <i class="fa-solid fa-star mt-2" style="color: orange;"></i>
      <p class="mt-1 ms-1" id="bestseller">BestSeller</p> 
    </div>
  <h6 class="fw-semibold ms-2">Double Ka Meetha</h6>
  <h6 class="ms-2">₹70</h6>
</div>
<div class="col-2">
  <div class="d-flex">
  <img src="../assets/DKaMeetha.jpg" id="mbiryanis">
  <button type="button" class="btn btn-light" id="add">ADD +</button>
  </div>
</div>
</div>
<div class="row" id="meh4">
  <hr id="u3">
</div>
<div class="row" id="meh5">
  <div class="col-10">
    <div class="d-flex">
    <span class="fa-stack" style="vertical-align: top;">
      <i class="fa-regular fa-square fa-stack-1x fa-lg" style="color: green"></i>
      <i class="fa-solid fa-circle fa-stack-1x fa-2xs" style="color: green"></i>
    </span>
    </div>
  <h6 class="fw-semibold ms-2">Kaddu Ka Kheer</h6>
  <h6 class="ms-2">₹70</h6>
</div>
<div class="col-2">
  <div class="d-flex">
  <img src="../assets/KKaKheer.jpg" id="mbiryanis">
  <button type="button" class="btn btn-light" id="add">ADD +</button>
  </div>
</div>
</div>
<div class="row" id="meh4">
  <hr id="u3">
</div>
<div class="row" id="meh5">
  <div class="col-10">
    <div class="d-flex">
    <span class="fa-stack" style="vertical-align: top;">
      <i class="fa-regular fa-square fa-stack-1x fa-lg" style="color: green"></i>
      <i class="fa-solid fa-circle fa-stack-1x fa-2xs" style="color: green"></i>
    </span>
    </div>
  <h6 class="fw-semibold ms-2">Khubani Ka Meetha</h6>
  <h6 class="ms-2">₹70</h6>
</div>
<div class="col-2">
  <div class="d-flex">
  <img src="../assets/KKaMeetha.jpg" id="mbiryanis">
  <button type="button" class="btn btn-light" id="add">ADD +</button>
  </div>
</div>
</div>
<br>
</ng-container>