<div class="row" id="row5" style="background-color: black;">
    <div class="col-lg-3" style="margin-top: 50px;">
      <ul>
        <li class="li1">COMPANY</li><br>
        <li>About us</li>
        <li>Team</li>
        <li>Careers</li>
        <li>Swiggy blog</li>
        <li>Bug Bounty</li>
        <li>Swiggy One</li>
        <li>Swiggy Corporate</li>
        <li>Swiggy Instamart</li>
        <li>Swiggy Genie</li>
      </ul>
    </div>
    <div class="col-lg-3" style="margin-top: 50px;">
      <ul>
        <li class="li1">CONTACT</li><br>
        <li>Help & Support</li>
        <li>Partner with us</li>
        <li>Ride with us</li>
      </ul>
    </div>
    <div class="col-lg-3" style="margin-top: 50px;">
      <ul>
        <li class="li1">LEGAL</li><br>
        <li>Terms & Conditions</li>
        <li>Refund & Cancellation</li>
        <li>Privacy Policy</li>
        <li>Cookie Policy</li>
        <li>Offer Terms</li>
        <li>phishing & Fraud</li>
        <li>Corporate-Swiggy Money Codes Terms and Condtions</li>
        <li>Corporate-Swiggy Discount Voucher Terms and Conditions</li>
      </ul>
    </div>
    <div class="col-lg-3">
      <a href="https://play.google.com/store/apps/details?id=in.swiggy.android" style="text-decoration: none;">
        <div id="getplay2">
          <div><img src="{{playstore}}" id="playst2" class="img-fluid"></div>
          <div id="gionplay"><span style="color: white">Get it on </span> <span id="textgp">Google play</span></div>
        </div>
      </a>
      <a href="https://apps.apple.com/in/app/swiggy-food-delivery-more/id989540920" style="text-decoration: none;">
        <div id="getapp3">
          <div><img src="{{appstore}}" id="appst2" class="img-fluid"></div>
          <div id="dotapp"><span style="color: white">Download on the </span> <span id="textAS">App Store</span></div>
        </div>
      </a>
    </div>
  </div>
