<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid" id="row1">
        <img src={{FFYimg}} height="50" width="50" class="ms-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse row2" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"><i class="fa-solid fa-magnifying-glass"></i>Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"><img src={{Offersimg}} height="18" width="18" class="mb-1">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"><i class="fa-solid fa-circle-info"></i>Help</a>
          </li>
          <li class="nav-item mt-2">
            <i class="fa-regular fa-user"></i>{{user}}
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/yash">Signout</a>
          </li>
          <li class="nav-item">
            <div id="id1"><h6>{{j}}</h6></div>
            <a class="nav-link active" aria-current="page" routerLink="/cart"><i class="fa-solid fa-cart-shopping"></i>Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
