<app-navbar></app-navbar>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-lg-3">
        <div class="card card1">
            <img src={{pizzaimg}} class="card-img-top h-100" alt="...">
          </div>
      </div>
      <div class="col-lg-3">
        <div class="card card1">
          <img src={{streetfoodimg}} class="card-img-top h-100" alt="...">
        </div> 
      </div>
      <div class="col-lg-3">
        <div class="card card1">
          <img src={{pizzaimg2}} class="card-img-top h-100" alt="...">
        </div> 
      </div>
      <div class="col-lg-3">
        <div class="card card1">
          <img src={{bestfoodimg}} class="card-img-top h-100" alt="...">
        </div> 
      </div>
    </div>
  </div>  
  
      <div class="carousel-item">
        
        <div class="col-lg-3">
        <div class="card card1">
        <img src={{enjoy}} class="card-img-top h-100" alt="...">
       </div>
      </div>
      </div>
     
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container-fluid">
  <div class="row">
  <div class="col-lg-3">
  <a routerLink="/mehfil">
  <div class="card mt-5 ms-2" style="width: 18rem;">
    <img src={{chickenbiryani}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mehfil</h5>
      <p class="card-text fs-6">Biryani,North Indian,Tandoor,Chinese,kebabs</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><div class="d-flex"><div class="border p-1 mt-2" style="background-color: rgba(201, 126, 28, 0.904);width: 60px;height: 35px;"><i class="fa-regular fa-star"></i> 3.8</div><div class="mt-2 ms-2">. </div> <div class="ms-2" style="margin-top: 12px;"> 25 mins </div> <div class="mt-2 ms-2">.</div>  <div class="ms-2" style="margin-top: 12px;"> ₹300 for two</div>  </div></li>
    </ul>
    <div class="card-body">
    <div class="d-flex" id="freed"><div><img src={{Offersimg}} height="18" width="18" style="background-color: orange; border-radius: 10px;"></div><p>Free delivery</p></div>
    </div>
  </div>
  </a>
</div>
<div class="col-lg-3">
  <div class="card mt-5 ms-2" style="width: 18rem;">
    <img src={{tandoorichicken}} class="card-img-top" height="215" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bawarchi</h5>
      <p class="card-text fs-6">Biryani,Tandoor,Chinese,Indian,Desserts,kebabs,Mughalai</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><div class="d-flex"><div class="border p-1 mt-2" style="background-color: rgba(89, 230, 7, 0.904);width: 60px;height: 35px;"><i class="fa-regular fa-star"></i> 4.0</div><div class="mt-2 ms-2">. </div> <div class="ms-2" style="margin-top: 12px;"> 47 mins </div> <div class="mt-2 ms-2">.</div>  <div class="ms-2" style="margin-top: 12px;"> ₹470 for two</div>  </div></li>
    </ul>
    <div class="card-body">
    <div class="d-flex" id="freed"><div><img src={{Offersimg}} height="18" width="18" style="background-color: orange; border-radius: 10px;"></div><p>Free delivery</p></div>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div class="card mt-5 ms-2" style="width: 18rem;">
    <img src={{meridianrest}} class="card-img-top" height="215" alt="...">
    <div class="card-body">
      <h5 class="card-title">Meridian</h5>
      <p class="card-text fs-6">Biryani,Chinese,North Indian,kebabs</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><div class="d-flex"><div class="border p-1 mt-2" style="background-color: rgba(89, 230, 7, 0.904);width: 60px;height: 35px;"><i class="fa-regular fa-star"></i> 4.1</div><div class="mt-2 ms-2">. </div> <div class="ms-2" style="margin-top: 12px;"> 48 mins </div> <div class="mt-2 ms-2">.</div>  <div class="ms-2" style="margin-top: 12px;"> ₹400 for two</div>  </div></li>
    </ul>
    <div class="card-body">
    <div class="d-flex" id="freed"><div><img src={{Offersimg}} height="18" width="18" style="background-color: orange; border-radius: 10px;"></div><p>Free delivery</p></div>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div class="card mt-5 ms-2" style="width: 18rem;">
    <img src={{chickenpulao}} class="card-img-top" height="215" alt="...">
    <div class="card-body">
      <h5 class="card-title">Grand Hotel</h5>
      <p class="card-text fs-6">Biryani,Chinese,Tandoor,Haleem</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><div class="d-flex"><div class="border p-1 mt-2" style="background-color: rgba(89, 230, 7, 0.904);width: 60px;height: 35px;"><i class="fa-regular fa-star"></i> 4.0</div><div class="mt-2 ms-2">. </div> <div class="ms-2" style="margin-top: 12px;"> 27 mins </div> <div class="mt-2 ms-2">.</div>  <div class="ms-2" style="margin-top: 12px;"> ₹300 for two</div>  </div></li>
    </ul>
    <div class="card-body">
    <div class="d-flex" id="freed"><div><img src={{Offersimg}} height="18" width="18" style="background-color: orange; border-radius: 10px;"></div><p>Free delivery</p></div>
    </div>
  </div>
</div>
</div>
</div>
<div class="container-fluid">
<div class="row mt-5" id="row5" style="background-color: black;">
  <div class="col-lg-3" style="margin-top: 50px;">
  <ul>
    <li class="li2">COMPANY</li><br>
    <li class="li3">About us</li>
    <li class="li3">Team</li>
    <li class="li3">Careers</li>
    <li class="li3">Swiggy blog</li>
    <li class="li3">Bug Bounty</li>
    <li class="li3">Swiggy One</li>
    <li class="li3">Swiggy Corporate</li>
    <li class="li3">Swiggy Instamart</li>
    <li class="li3">Swiggy Genie</li>
  </ul>
  </div>
  <div class="col-lg-3" style="margin-top: 50px;">
  <ul>
    <li class="li2">CONTACT</li><br>
    <li class="li3">Help & Support</li>
    <li class="li3">Partner with us</li>
    <li class="li3">Ride with us</li>
  </ul>
  </div>
  <div class="col-lg-3" style="margin-top: 50px;">
  <ul>
    <li class="li2">LEGAL</li><br>
    <li class="li3">Terms & Conditions</li>
    <li class="li3">Refund & Cancellation</li>
    <li class="li3">Privacy Policy</li>
    <li class="li3">Cookie Policy</li>
    <li class="li3">Offer Terms</li>
    <li class="li3">phishing & Fraud</li>
    <li class="li3">Corporate-Swiggy Money Codes Terms and Condtions</li>
    <li class="li3">Corporate-Swiggy Discount Voucher Terms and Conditions</li>
  </ul>
  </div>
  <div class="col-lg-3">
  <a href="https://play.google.com/store/apps/details?id=in.swiggy.android" style="text-decoration: none;"><div id="getplay2"><div><img src="{{playstore}}" id="playst2" class="img-fluid"></div><div id="gionplay"><span style="color: white">Get it on </span> <span id="textgp">Google play</span></div></div></a>
  <a href="https://apps.apple.com/in/app/swiggy-food-delivery-more/id989540920" style="text-decoration: none;"><div id="getapp3"><div><img src="{{appstore}}" id="appst2" class="img-fluid"></div><div id="dotapp"><span style="color: white">Download on the </span> <span id="textAS">App Store</span></div></div></a>  
  </div>
  </div>
</div>